/*-------------------注册-------------------*/
/*head-background*/
.reg {
    height: 53px;
    background-color: rgb(241, 241, 241);
}

.head-background {
    height: 67px;
    background-color: #333333;
}

.website-name {
    padding-top: 8px;
    height: 67px;
    font-size: 20px;
    font-family: "arial";
    color: white;
    line-height: 50px;
}

/*wp1 relative*/
.mkcl:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wp1 {
    margin: 30px auto;
    width: 100%;
}

.relative {
    position: relative;
}

.reg-content {
    margin: 0px auto;
    width: 988px;
}

.reg-tab {
    margin-top: 29px;
    margin-left: 0px;
}

.tab-phone, .tab-email, .agree .tick {
    background-image: url(../../static/images/main_reg.png);
    background-repeat: no-repeat;
}

.tab-phone {
    background-position: 0px -100px;
}

.reg-tab a {
    display: inline-block;
    padding-left: 40px;
    padding-top: 7px;
    width: 99px;
    height: 26px;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
}

.tab-phone.sel {
    background-position: 0 0px;
}

.tab-email {
    background-position: -150px 0px;
}

.reg-tab .tab-email {
    padding-left: 50px;
}

.r {
    float: right;
}

.login2 {
    margin-top: -25px;
}

.login-a {
    color: #d70506;
    text-decoration: underline;
}

.reg-detail {
    padding: 52px 97px 38px 97px;
    background-color: #fff;
}

.reg-title {
    font-size: 28px;
    font-family: "Microsoft Yahei" ! important;
    color: #000;
}

.node-intro {
    margin-top: 19px;
    color: #999;
    line-height: 16px;
}

.box-shadow-in {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.node {
    margin-top: 42px;
}

.node-title {
    font-size: 14px;
    font-weight: bold;
}

.node-des {
    margin: 30px 53px 0 0px;
}

.input-intro {
    padding: 10px 0;
    width: 110px;
    font-size: 12px;
    color: #999;
    text-align: left;
}

.node-input {
    margin-right: 270px;
    width: 334px;
}

.short {
    width: 163px;
}

.dinput {
    padding: 0 15px;
    margin-top: 25px;
    font-size: 12px;
    color: #ccc;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    background-color: #fff;
}

.node-input .dinput {
    margin-top: 0;
    color: #333;
    border-radius: 0px;
}

.dinput input {
    width: 100%;
    height: 42px;
    line-height: 42px;
    border: medium none;
}

.node-input .dinput input {
    height: 32px;
    line-height: 32px;
}

.ddrop, .dpmenu {
    padding: 14px;
    margin-top: 25px;
    font-size: 14px;
    color: #ccc;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    background-color: #fff;
}

.ddrop {
    position: relative;
    height: 14px;
    color: #333;
}

.node-input .ddrop {
    margin-top: 0;
    padding: 10px 14px;
    font-size: 12px;
    color: #333;
    border-radius: 0px;
}

.user, .navsign, .tick, .uncheck, .switch,
.dptick, .uptick, .uptick_left, .ron, .roff,
.btn-yes, .btn-no, .poptips-yes, .poptips-no,
.poptips-warn, .eye, .login-checkbox, .add {
    background-image: url(../../static/images/main.png);
    background-repeat: no-repeat;
}

.dptick {
    padding: 8px;
    margin-top: 3px;
    background-position: 0 -150px;
}

.dbtn2 {
    width: 228px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    color: #333;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.node-input .dbtn2 {
    width: 163px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    border-radius: 0px;
}

.vam {
    vertical-align: middle;
}

.pwd-letter {
    margin-top: 3px;
}

.pwd-letter span {
    display: block;
    float: left;
    margin-left: 1px;
    width: 80px;
    color: #aaa;
    text-align: center;
    background: #eee;
}

.regAgrTitle {
    margin-bottom: 20px;
    margin-top: -8px;
    font-size: 16px;
}

.foot-selectCountry-margin {
    margin-top: -20px;
}

.selectCountry-right {
    float: right;
}

.selectedCountry_style {
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}

.agrLineH {
    line-height: 180%;
    color: #000;
}

.agrIndent {
    text-indent: 2em;
}

.loginAndRegLink {
    color: #00C0F4;
    text-decoration: underline;
}

.reg-btn {
    margin-top: 38px;
    text-align: center;
}

.reg-btn {
    border-radius: 0px;
}

.btn {
    display: inline-block;
    margin-left: 10px;
    margin-right: 56px;
    width: 142px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.btn-reg {
    margin: 0 auto;
    width: 279px;
    height: 45px;
}

.reg-btn .btn.sel {
    color: #fff;
    background-color: #d70506;
    border: solid 1px #9c9c9c;
}

.box-shadow {
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
}